body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.inner {
    padding: 2px;
    background-color: firebrick;
}

#assistance {
    background-color: rgb(167, 89, 89);
    color: white;
    width: 600px;
    margin: auto;
    border-radius: 15px;
}